<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="current" v-on:keydown.enter="addOption">
    <!-- <p> {{current}} </p> -->
    <!-- <p> {{options}} </p> -->
    <ul>
      <li v-for="option in options">
        {{ option }}
      </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        current: '',
        options: ['Option1', 'Option2']
      },
      methods: {
        addOption: function(event) {
          this.options.push(this.current);
          this.current = '';
        }
      }
    })
  </script>
</body>
</html>
