<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Where To Go For Lunch</title>
  <script src="https://unpkg.com/vue"></script>
  <style>
    .option {
      padding: 5px;
      margin: 3px;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <div id="app">

    <h2>My vote</h2>

    <ol>
        <li v-for="id in ballot">
          <div :id="id" class="option">{{ id }}: {{ options[id] }}
            <button v-on:click="">Up</button>
            <button v-on:click="">Down</button>
            <button v-on:click="removeFromBallot">Remove</button>
          </div>
        </li>
    </ol>

    <p v-if="ballot.length == 0">No vote yet. Pick from existing options or add a new one: </p>
    <p v-else>You have {{ ballot.length }} preferences in your vote. You can still add more if you want.</p>
    <input id="new-option-text" type="text" v-model="current" v-on:keydown.enter="addNewOption">
    <button v-on:click="addNewOption">Add</button>

    <h2> Options </h2>
    <!-- <p> {{current}} </p> -->
    <!-- <p> {{options}} </p> -->
    <ul>
      <li v-for="id in available">
        <div class="option" v-on:click="addToBallot" title="Add" :id="id">{{ id }}: {{ options[id] }}</div>
      </li>
    </ul>
    <div> Available: {{ available }} </div>
    <div> Ballot: {{ ballot }} </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        current: '',
        ballot: [],            // Options added to ballot in preference order
        available: ['a', 'b', 'c'],  // Options not yet added to ballot
        options: {             // All currently known options
          'a': 'Red',
          'b': 'Green',
          'c': 'Blue'
        }
      },
      methods: {
        addNewOption: function(event) {
          console.log('addOption:' + this.current)
          if (!this.options.includes(this.current)) {
            let index = this.options.i
            // this.options.push(this.current)
            this.ballot.push(this.current)
            this.current = ''
          }
        },
        addToBallot: function(event) {
          let id = event.target.id
          console.log('addOption:' + id)
          if (!this.ballot.includes(id)) {
            this.ballot.push(id)
            // Remove option from available options
            let index = this.available.indexOf(id)
            this.available.splice(index, 1)
          }
        },
        removeFromBallot: function(event) {
          let id = event.target.parentElement.id
          let index = this.ballot.indexOf(id)
          this.ballot.splice(index, 1)
          this.available.push(id)
        }
      }
    })
  </script>
</body>
</html>
