<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Where To Go For Lunch</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="plurality.js"></script>
  <script src="approval.js"></script>
  <script src="schulze.js"></script>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
    }
    h2, h3 {
      margin: 2px;
    }
    #app {
      display: flex;
      flex-wrap: wrap;
    }
    section {
      border: 1px solid black;
      padding: 5px 15px;
      margin: 5px;
    }
    div.result-boxes {
      display: flex;
      flex-wrap: wrap;
    }
    div.result {
      border: 1px solid black;
      padding: 5px 15px;
      margin: 5px;
    }
    table#preferences {
      border: 1px solid black;
    }
    .option {
      padding: 5px;
      margin: 3px;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <h1> Where To Go For Lunch</h1>
  <div id="app">
    <section id="main">
      <section id="ballot">
        <h2>My preferences ({{ voterName }})</h2>
        <div v-if="ballot.length === 0">
          <p>Empty</p>
          <button @click="clearOptions">Clear example options</button>
        </div>
        <table v-else id="preferences">
          <tr v-for="(id, index) in ballot">
            <td> {{ index + 1 }}. </td>
            <td :title="id"
                class="option"
                :style="'background-color: '  + options[id].color"
                >{{ options[id].title }}
            </td>
            <td :id="id" :key="id">
              <button v-on:click="moveUpInBallot">Up</button>
              <button v-on:click="moveDownInBallot">Down</button>
              <button v-on:click="removeFromBallot">Remove</button>
            </td>
          </tr>
        </table>
        <p v-if="ballot.length == 0">No vote yet. Pick from existing options or add a new one: </p>
        <p v-else>You have {{ ballot.length }} preferences in your vote. You can still add more if you want.</p>
        <input id="new-option-text" type="text" v-model="current" v-on:keydown.enter="addNewOption">
        <button v-on:click="addNewOption" :disabled="current.length === 0">Add</button>
        <div>
          <button @click="castBallot">Cast ballot</button>
        </div>
      </section>

      <section id="options">
        <h2> Options </h2>
        <table>
          <tr v-for="id in available">
            <td class="option"
                :id="id"
                :key="id"
                :style="'background-color: '  + options[id].color"
                v-on:click="addToBallot"
                title="Add">
                  {{ options[id].title }}
            </td>
          </tr>
        </table>
        <div>
          Your name:<input id="voter-name-text" type="text" v-model="voterName" v-on:keydown.enter="setVoterName">
        </div>
      </section>
    </section>

    <section id="sidebar">
      <section id="results" v-if="results.length > 0">
        <h2> Results </h2>
        <div class="result-boxes">
          <div class="result" v-for="result in results">
            <h3> {{ result.method }} </h3>
            <div><strong>Winner(s):</strong></div>
            <div v-for="(winner, index) in result.winners"> {{ options[winner].title }} </div>
            <div><strong>Points:</strong></div>
            <table>
              <tr v-for="(value, key) in result.counts">
                <td> {{ options[key].title }} </td>
                <td> {{ value }} </td>
            </tr>
          </table>
          </div>
        </div>
      </section>

      <section id="cast-ballots" v-show="votes.length > 0">
        <h2>Cast ballots</h2>
        <table>
          <tr v-for="(vote, index) in votes">
            <td> {{ vote.voter }} </td>
            <td v-for="choice in vote.ballot"
                :style="'background-color: '  + options[choice].color">
                {{ options[choice].title.slice(0,2) }}
            </td>
          </tr>
        </table>
      </section>

    </section>
    <section id="debugging">
      <button @click="debugging=!debugging">Toggle debugging</button>
      <template v-if="debugging">
        <div> Available: {{ available }} </div>
        <div> Ballot: {{ ballot }} </div>
        <div> Options: {{ options }} </div>
        <div> Ballots: {{ ballots }} </div>
        <div> Winners: {{ winners }} 
      </template>
    </section>
  </div>

  <script>

    var app = new Vue({
      el: '#app',
      data: {
        voterName: '',
        voterCount: 0,
        debugging: false,
        current: '',  // Current text in add option text edit box
        ballots: [],  // All cast ballots
        ballot: [],  // Options added to ballot in preference order
        votes: [],  // All cast votes (including user and ballot)
        winners: [],  // Current election winners (can be more than one in case of tie)
        results: [],  // List of results from all election methods
        available: [],  // Options not yet added to ballot
        options: {},  // All currently known options
        methods: {
          'plurality': {
            'title': 'Plurality',
            'calculate': calculatePluralityWinners
          }
        },
        colors: [
          '#77f',
          '#7f7',
          '#7ff',
          '#f77',
          '#f7f',
          '#ff7',
          '#aaf',
          '#afa',
          '#aff',
          '#faa',
          '#faf',
          '#ffa'
        ]
      },
      created: function() {
        this.createDefaultOptions()
        this.initializeAvailables()
        this.nextVoter()
      },
      methods: {
        titleToKey: function(title) {
          let newKey = title.toLowerCase()
          newKey = newKey.replace(' ', '_')
          return newKey
        },
        optionExists: function(title) {
          let newKey = this.titleToKey(title)
          // console.log('Check if already exists: '+ title)
          return Object.keys(this.options).includes(newKey)
        },
        initializeAvailables() {
          this.available = Object.keys(this.options)
        },
        clearOptions() {
          this.available = []
          this.ballots = []
          this.ballot = []
          this.votes = []
          this.options = {}
        },
        nextVoter() {
          this.voterCount += 1
          this.voterName = 'voter' + this.voterCount
        },
        createOption: function(title) {
          // console.log('addOption:' + title)
          let colorIndex = Object.values(this.options).length % this.colors.length
          // console.log()
          if (this.optionExists(title)) {
            console.log("Option with this title already exists: " + title)
            return '';
          }
          let option = {
            title: title,
            color: this.colors[colorIndex]
          }
          let newKey = this.titleToKey(title)
          console.log('Create option', newKey, ':', title,
                       ' colorIndex:', colorIndex,
                       ' color:', this.colors[colorIndex])
          Vue.set(this.options, newKey, option)
          return newKey
        },
        createDefaultOptions: function() {
          let options = ['Taco House', 'Pizza Palace', 'Hamburger Hut', 'Sushi King']
          for (let i=0; i<options.length;i++) {
            this.createOption(options[i])
          }
        },
        addNewOption: function(event) {
          let title = this.current
          let newKey = this.createOption(title)
          if (newKey) {
            this.ballot.push(newKey)
          }
        },
        addToBallot: function(event) {
          let id = event.target.id
          console.log('addOption:' + id)
          if (!this.ballot.includes(id)) {
            this.ballot.push(id)
            // Remove option from available options
            let index = this.available.indexOf(id)
            this.available.splice(index, 1)
          }
        },
        removeFromBallot: function(event) {
          let id = event.target.parentElement.id
          console.log('Remove from ballot: ' + id)
          let index = this.ballot.indexOf(id)
          this.ballot.splice(index, 1)
          this.available.push(id)
        },
        switchBallotItems: function(index1, index2) {
          console.log('switchBallotItemns: ' + index1 + ' <> ' + index2)
          // console.log('ballot: ' + this.ballot)
          var temp = this.ballot[index1]
          Vue.set(this.ballot, index1, this.ballot[index2])  // Need to use this to notify Vue of the change
          Vue.set(this.ballot, index2, temp)
          // console.log('ballot: ' + this.ballot)
        },
        moveUpInBallot: function(event) {
          let id = event.target.parentElement.id
          let index = this.ballot.indexOf(id)
          if (index > 0) {
            this.switchBallotItems(index, index - 1)
          }
        },
        moveDownInBallot: function(event) {
          let id = event.target.parentElement.id
          let index = this.ballot.indexOf(id)
          if (index < this.ballot.length - 1) {
            this.switchBallotItems(index, index + 1)
          }
        },
        castBallot: function(event) {
          let vote = {
            voter: this.voterName,
            ballot: this.ballot
          }
          this.votes.push(vote)
          this.ballots.push(this.ballot)
          this.ballot = []
          let pluralityResult = calculatePluralityWinners(this.ballots)
          let approvalResult = calculateApprovalWinners(this.ballots)
          let schulzeResult = calculateSchulzeWinners(Object.keys(this.options), this.ballots)
          // this.results = []
          /* Object.keys(this.methods).forEach(function(key) {
            let method = this.methods[key]
            let result = method.calculate(this.ballots)
            this.results.push(result)
          }) */
          this.results = [pluralityResult, approvalResult, schulzeResult]
          this.winners = pluralityResult.winners
          this.initializeAvailables()
          this.nextVoter()
        }
      }
    })
  </script>
</body>
</html>
